NEXT_PUBLIC_COMPANY_NAME=Название компании
NEXT_PUBLIC_PHONE=+7 (___) ___-__-__
NEXT_PUBLIC_PHONE_HREF=
NEXT_PUBLIC_EMAIL=sales@example.ru
NEXT_PUBLIC_ADDRESS=Укажите адрес производства
LEAD_WEBHOOK_URL=
